.my-nav{
    z-index: 999;
    background: none;
    border: 0;
    top: 30px;
}
.my-carousel{
margin-top: -80px;
margin-left: -15px;
margin-right: -15px;

}
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .navbar-toggler{
      background-color: whitesmoke;
     
  }
  .navbar-brand{
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
    font-size:25px
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    text-transform: uppercase;
    color:black;
  }
  .form-inline .form-control{
      margin-left: 15px;
  }
  .carousel-caption h3{
    margin-bottom: 25px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #FFF;
}
.carousel-caption h2{
    margin-bottom: 50px;
    font-size: 36px;
    font-weight:300px;
    letter-spacing: 2.5px;
    color: #FFF;
    overflow: hidden;
}
.carousel-button{
    font-size: 13px;
    border-radius: 25px;
    padding: 11px 25px;
    margin:11px;
    background-color: transparent;
    border: 2px solid #fff;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
}
.carousel-img{
  min-height: 650px;
}
.about{
  margin-top: 100px;
}
.captions h6{
  text-transform: uppercase;
  color: green;
  margin-bottom: 15px;
}
.captions h2{
  font-weight: 500;
  margin-bottom: 30px;
}
.item{
  margin-bottom: 50px;
}
.item img{
  float: left;
  margin-right: 15px;
}
.item h4{
  text-transform: uppercase;
  font-size: medium;
  padding-top:10px;
  color:black;
  margin-right: 50px;
}
.btn{
  border-radius: 25px;
}
.about-text{
  margin-top:50px
}
.features{
  margin-top:100px;
}
.card{
  border: none;
}
.card img{
    align-self: flex-start;
    float: left;
    display: inline;
    margin-left: 10px;
}
.card h6{
  margin-left: 75px;
    margin-top: -40px;
    text-transform: uppercase;
}
.card p{
  margin-left: 75px;
}
.card .text-button-icon{
  margin-left: 70px;
  color: black;
}
.subscribe{
  margin-top: 100px;
}
.section-heading{
  align-self: center;
  text-align: center!important;
  align-content: center;
  margin-top: 70px;
  color: white;
}
.section-heading h6{
  text-transform: uppercase;
  text-align: center;
}
.section-heading h3{
  font-weight: bold;
  text-align: center;
}
.section-heading p{
  text-align: center;
    font-size: 16px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 40px;
}
#email{
  width: 100%;
    height: 38px;
    border-radius: 19px;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 0px 20px;
    font-size: 13px;
    color: #fff;
    outline: none;
}
.subscribe-button{
  font-size: 13px;
  border-radius: 20px;
  
  background-color: transparent;
  border: 2px solid #fff;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.projects{
  margin-top: 100px;
}
.image-item img{
  width: 100%;
  margin-top:30px
}
.categories li{
  list-style-type: none;
}
.projects-captions h6{
  text-transform: uppercase;
  color: green;
}
.projects-captions h4{
  font-weight: bold;
  font-size: 28px;
}
.team{
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 100px;
}
#carouselExampleIndicators2 .card{
  background-color: transparent;
}
.card-title{
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.card-text{
  text-align: justify;
  text-transform: uppercase;
  color: white;
}
.team .headline h6,h4{
  color: white;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact{
  margin-top: 100px;
}
.contact-list{
  list-style-type: none;
}
.contact-item p{
  display: inline;
  margin-left: 10px;
    color: black;
    text-align: center;
    font-weight: 700;
}
.contact-title{
  text-transform: uppercase;
    color: green;
}
.contact-text{
  color: black;
    font-weight: 800;
    font-size: 24px;
    margin-right: 70px;
    padding-right: 80px;
}
.contact-item{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.contact-form{
  margin-top: 18px;
}
#contact-name,#contact-phone, #contact-email, #contact-subject, #contact-message{
  width: 100%;
    margin-bottom: 20px;
}
.message-button{
  width: 50%;
  background-color: palegreen;
  color: white;
  font-weight: 700;
}
footer{
  margin-top: 100px;
  padding: 80px 0px;
  background: linear-gradient(145deg, rgba(51,155,158,1) 0%,
   rgba(104,204,152,1) 100%);
}
footer p{
  color: white;
  font-weight: bold;
}
.social-icons{
  margin-top: -6px;
}
.social-icons p{
  margin-left: 100px;
  text-transform: uppercase;
  display: inline;
}
.soc-ic{
  display: inline;
  margin-left: 30px;
    text-align: end;
    margin-bottom:20px ;

}
.fab{
  padding: px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 25px;
  margin-left: -10px;
  margin-right: -10px;
}
.fa:hover{
  opacity: 0.7;
}
.fa-facebook-square,.fa-twitter-square, .fa-linkedin, .fa-instagram-square{
color: white;
border-radius: 25px;
}
.fa-facebook-square:before,
.fa-twitter-square:before,
.fa-linkedin:before,
.fa-instagram-square:before {
  transition: all 0.3s ease 0s;
}
.fa-facebook-square:hover::before,
.fa-twitter-square:hover::before,
.fa-linkedin:hover::before,
.fa-instagram-square:hover::before {
  color: #9dfb91;
  transition: all 0.3s ease 0s;
}


@media only screen and (max-width: 767px) {
  .features .card {
    margin-bottom: 40px;
  }
}